<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
            integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
            crossorigin="anonymous" />
            <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
            <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
            <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
            <link rel="manifest" href="/site.webmanifest">
        <title>lets chat</title>
    </head>
    <body>

       <section class="chat_section">
           <div class="brand">
               <img src="" alt="" srcset="">
               <h1> <i class="far fa-comments" ></i>  Lets Chat</h1>
           </div>
           <div class="message_area">
               <!-- <div class="message incoming">
                   <h4>Rakesh</h4>
                   <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et, totam?</p>
               </div>
            <div class="message outgoing">
                <h4>Rakesh</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et, totam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad maiores vitae quas ratione, quibusdam iusto, odio, veritatis perspiciatis assumenda nesciunt cumque iste. Id temporibus quasi ipsam. Officia veniam optio sed nemo amet harum dolor, enim vel id architecto, exercitationem explicabo iure. Perferendis neque fugiat non molestias culpa quos pariatur, temporibus dignissimos accusantium, nobis atque, expedita officiis quia quisquam sed praesentium iure. Facere libero, magni sint minima eveniet tempore similique architecto blanditiis atque quidem quo vero in reprehenderit error voluptatum ad id eos ratione a quas itaque fugit non dolore maiores! Fugiat neque minima quo excepturi alias, voluptatum est quae earum ipsa dignissimos quis voluptatibus explicabo porro vel libero minus aliquam ipsum repellat quam recusandae exercitationem. Dignissimos nam obcaecati et quos veniam, molestias excepturi facere, accusamus velit blanditiis omnis? Numquam adipisci, velit quaerat temporibus reiciendis repudiandae necessitatibus id ratione maiores molestiae sequi. Voluptate, laborum facere. Ullam enim ab, provident voluptatum eligendi aperiam quisquam error corrupti distinctio minus a earum consequuntur commodi eius et maxime aut iusto, at nesciunt quaerat, excepturi maiores. Facilis doloremque aspernatur voluptatum rem nulla ex iure animi dolorem quia quasi possimus sunt laudantium quo repellat dicta excepturi sed ratione maxime, iste reprehenderit sapiente? Eveniet debitis sequi ducimus ad voluptatem minima, ea libero dolor natus, praesentium eius sed magni. Dolore unde porro consectetur, placeat perferendis blanditiis sit a consequuntur voluptate non ea dolor provident corrupti reiciendis illum cum odit nisi dicta voluptatum nostrum. Culpa labore consectetur nulla sapiente, quidem repellat consequuntur sit, necessitatibus incidunt ad mollitia non et deleniti sunt voluptate alias illum dicta dolorem laborum doloribus cumque. Repellat error facilis tenetur eligendi quidem architecto fugit, pariatur unde accusamus at ad tempora voluptatum ipsum iure nostrum autem itaque dolore voluptate officia nemo voluptates repellendus inventore optio modi. Dolores ea minima eius voluptatum eos facilis? Beatae, delectus. Esse, vero aliquid.</p>
            </div> -->
           </div>
           <div>
               <textarea name="" id="textarea" cols="30" rows="1" placeholder="Write Message"></textarea>
           </div>

       </section>
           <script>
           var room = `<%- JSON.stringify(roomid)%>`;
           </script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="script.js "></script>
    </body>
</html>